In [2]:
import pandas as pd
from pandasql import sqldf

# Charger le fichier CSV
df = pd.read_csv('./db/vgsales.csv')

# Fonction pour exécuter des requêtes SQL sur le DataFrame
pysqldf = lambda q: sqldf(q, globals())

# 1. Requête : Tous les jeux sur NES
nes_games = pysqldf("SELECT * FROM df WHERE Platform = 'NES'")
print("\nJeux sur NES (SQL) :")
print(nes_games)

# 2. Requête : Somme des ventes japonaises
japan_sales_sum = pysqldf("SELECT SUM(JP_Sales) as Total_JP_Sales FROM df")
print("\nSomme des ventes japonaises (SQL) :")
print(japan_sales_sum)

# 3. Requête : Nombre de jeux sortis après 2008
games_after_2008 = pysqldf("SELECT COUNT(*) as Games_After_2008 FROM df WHERE Year >= 2008")
print("\nNombre de jeux sortis après 2008 (SQL) :")
print(games_after_2008)

# 4. Requête : Pourcentage de jeux Wii
wii_percentage_query = """
SELECT 
    (CAST(SUM(CASE WHEN Platform = 'Wii' THEN 1 ELSE 0 END) AS FLOAT) / COUNT(*)) * 100 AS Wii_Percentage 
FROM df
"""
wii_percentage = pysqldf(wii_percentage_query)
print("\nPourcentage de jeux Wii (SQL) :")
print(wii_percentage)

Jeux sur NES (SQL) :
     Rank                                               Name Platform    Year  \
0       2                                  Super Mario Bros.      NES  1985.0
1      10                                          Duck Hunt      NES  1984.0
2      23                                Super Mario Bros. 3      NES  1988.0
3      97                                Super Mario Bros. 2      NES  1988.0
4     128                                The Legend of Zelda      NES  1986.0
..    ...                                                ...      ...     ...
93   5864                                        Famista '91      NES  1990.0
94   6163                                        Famista '92      NES  1991.0
95  10311                               Final Fantasy I & II      NES  1994.0
96  11987  Teenage Mutant Ninja Turtles: Tournament Fighters      NES  1992.0
97  12638                                 Adventures of Lolo      NES  1989.0

           Genre                     Publisher  NA_Sales  EU_Sales  JP_Sales  \
0       Platform                      Nintendo     29.08      3.58      6.81
1        Shooter                      Nintendo     26.93      0.63      0.28
2       Platform                      Nintendo      9.54      3.44      3.84
3       Platform                      Nintendo      5.39      1.18      0.70
4         Action                      Nintendo      3.74      0.93      1.69
..           ...                           ...       ...       ...       ...
93        Sports            Namco Bandai Games      0.00      0.00      0.30
94        Sports            Namco Bandai Games      0.00      0.00      0.28
95  Role-Playing                        Square      0.00      0.00      0.11
96      Fighting  Konami Digital Entertainment      0.04      0.01      0.02
97        Puzzle                HAL Laboratory      0.06      0.00      0.00

    Other_Sales  Global_Sales
0          0.77         40.24
1          0.47         28.31
2          0.46         17.28
3          0.19          7.46
4          0.14          6.51
..          ...           ...
93         0.00          0.30
94         0.00          0.28
95         0.00          0.11
96         0.00          0.07
97         0.00          0.06

[98 rows x 11 columns]

Somme des ventes japonaises (SQL) :
   Total_JP_Sales
0         1291.02

Nombre de jeux sortis après 2008 (SQL) :
   Games_After_2008
0              8004

Pourcentage de jeux Wii (SQL) :
   Wii_Percentage
0         7.98289